<div class="container-fluid panel panel-default">
	<div class="panel-body">
		<p style="text-align:center">Thank you. We've received your message and will respond as soon as possible! :)</p>
	</div> <!-- /panel-body -->
	<%= link_to "Back to Start!", "/", class: "btn btn-default"%>
</div> <!-- /panel -->