// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/**** Main-Content ****/


.main-content {
	background-color: white;
}

th {
	padding: 0 2% 0 2%;
}


/*form-partial*/

.produktformular input {
  background-color: rgba(128, 128, 128, 0.12);
}
.produktformular textarea {
  background-color: rgba(128, 128, 128, 0.12);
}
.produktformular label {
  color: rgba(252, 219, 26, 0.46);
}


/**** Typography****/




