<div class="container-fluid main-content">
  
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>

  <div class="container-fluid">
    <div class="row"> 
    	<!-- bezogen auf products_helper.rb // lädt index page noch schneller -->
    	<% cache(cache_key_for_products) do %> <!-- statt cache @products do -->
    		<%= render @products %>
    	<% end %>
    </div>  
  </div>      

  <br>

  <%= link_to 'New Product', new_product_path %>

</div>
